body {
	margin:0 ;
	padding: 0;
	width: 100%;
	height: 100vh;
	background:url(11.JPG) 50% 50% no-repeat;
	background-size: cover;
}

form {
			width:500px;
			margin:80px auto;
		}
		.search {
			padding:8px 100px;
			background:rgba(50, 50, 50, 0.2);
			border:0px solid #dbdbdb;

		}
		.button {
			position:relative;
			padding:6px 15px;
			left:-9px;
			border:2px solid #53bd84;
			background-color:#53bd84;
			color:#fafafa;
		}
		.button:hover  {
			background-color:#fafafa;
			color:#207cca;
			text-decoration: none;
			color: green;

		}
				  
		
			  